.btn.btn-primary {
  background-color: yellowgreen !important;
  border-color: rgb(130, 173, 42) !important;
}

.btn-primary:hover {
  background-color: rgb(130, 173, 42) !important;
  border-color: rgb(109, 147, 34) !important;
}

.bg-dark .bg-light {
  background-color: #80828d !important;
}

.bg-light {
  background-color: #80828d !important;
}

.banner {
  background-image: url(images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}

h1 {
  font-family: "Caprasimo", serif !important;
  font-weight: 400;
}

.form-select {
  background-color: yellowgreen !important;
  border-color: rgb(130, 173, 42) !important;
  color: white !important;
}

#membership {
  height: 400px;
}

#form {
  height: 500px;
}